* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif, sans-serif; /* change, import from Google fonts */

    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth; 
}

*::selection {
    background: var(--main-color);
    color: #fff;
}

:root {
    --h1-color: #fff;
    --h2-color: #fff;
    --text-color: #fff;
    --main-color: red;
}

/* h1 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  } */
  
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; /* test max-width */
    height: auto;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 170px;

    /* background-color: red; */
    background-image: linear-gradient(rgba(52, 79, 124, 0.25),rgba(52,79,124,0.25)),url(./Pictures/Website-design/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body {
   /* background as image */
    background-image: linear-gradient(rgba(52, 79, 124, 0.25),rgba(52,79,124,0.25)),url(./Pictures/Website-design/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
} 

.navbar {
    display: flex;
    /* position: sticky; */
}

.navbar a {
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 5px 2rem; /* navbar item space between width */ 
    font-weight: bold;
    
    text-transform: uppercase;
    text-decoration: none;
}

.navbar a:hover {
    background: linear-gradient(45deg, #04d9ff, #fff);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    background-clip: 0;
    transition: 0.4s;
}

#menu-icon {
    font-size: 2.1rem;
    cursor: pointer;
    color: #fff;
    display: none;
}

.logo img {
    scale: 0.75;
    transition: transform 0.4s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1) translateX(12px);
}



section {
    padding: 70px 17%;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    min-height: 90vh;
}

.category {
    padding-top: 5vh;
    
    display: flex;
    gap: 7.5rem;

    justify-content: center;  
    align-items: center; 
}

.line h1 {
    display: flex;
    justify-content: center;
}

.line hr {
    padding: 0 36rem;
    border: 4px solid #fff;
    border-radius: 50px;
}

.c-icon img {
    scale: 0.9;

    border: 7.5px solid #0000;
    border-radius: 45px;
    background:
    linear-gradient(red,blue) padding-box,
    linear-gradient(#fff, #fff) border-box;
    transition: transform 0.4s ease-in-out;
}

.c-icon h2 {
    display: flex;
    justify-content: center;
    font-family: 'Permanent marker', sans-serif;
    color: #fff;
    transition: transform 0.4s ease-in-out;
}
.c-icon:hover img {
    border: 7.5px solid #0000;
    border-radius:45px;
    background: 
    linear-gradient(red,blue) padding-box,
    linear-gradient(45deg, #04d9ff, #fff) border-box;
    transform: scale(1.05);
}
.c-icon:hover h2 {
    background: linear-gradient(45deg, #04d9ff, #fff);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    background-clip: 0;
    transition: 0.4s;
    transform: scale(1.1) translateY(7.5px);
}
 
.about {
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.portrait img {
    max-width: 100%;
    width: 600px;
    height: auto;
}

h1 {
    color: var(--h1-color);
    font-size: 56px;
    font-weight: 800;
    font-family: 'Permanent marker', sans-serif;
}

h2 {
    color: var(--h2-color);
    font-size: 32px;
    font-weight: 700;
}

.about-text p {
    color: var(--h1-color);
}

.hire-me-btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: red;
    border-radius: 0.5rem;
}

.hire-me-btn:hover {
    transform: scale(1.2) translateX(12px) translateY(10px);
    transition: 0.4s;

    /* add box fill effect */
}

.youtube-icon i {
    color: red;
}


/* ----- Portfolio page ----- */