* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif; 
    scroll-behavior: smooth; 
}

html {
    overflow-x: hidden;
    font-size: 62,5%;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--bg-color);
    color: var(--text-color);
    /* background-image: linear-gradient(rgba(52, 79, 124, 0.25),rgba(52,79,124,0.25)),url(./Pictures/Website-design/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
}

section {
    padding: 10rem 9% 2rem;
    min-height: 100vh;  
}
  
.header {
    position: fixed;
    top: 0;
    /* right: 0; */
    left: 0;
    width: 100%; 
    padding: 1rem 9%; /* change navbar height */

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 100;
    
    /* border: 1px solid red; */
    
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    /* background-image: linear-gradient(rgba(52, 79, 124, 0.25),rgba(52,79,124,0.25)),url(./Pictures/Website-design/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
}

.logo img {
    /* scale: 0.75; */ /* makes bounding box incorrect and not correctly resizeable */
    transition: transform 0.4s ease-in-out;
    /* border: 1px solid red; */
    width: 300px;
    height: auto; 
}
.logo img:hover {
    transform: scale(1.1) translateX(12px);
}

.navbar a {
    font-size: 1.2rem;
    color: var(--text-color);

    font-weight: bold;
    margin-left: 3rem;
    padding: 5px 1.5rem; /* navbar item space between width */ 
    text-transform: uppercase;
    transition: 0.3s;

    /* border: 1px solid red; */
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    /* background: linear-gradient(45deg, #04d9ff, #fff);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; */
}

/* #menu-icon {
    font-size: 3.6rem;
    cursor: pointer;
    color: var(--text-color);
    display: none;
} */

#check {
    display: none;
}

.checkbtn {
    font-size: 3.6rem;
    color: var(--text-color);
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; 
    /* padding: 0 9%; */
    /* no background */
}

.home-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.home-img img {
    width: 35vh;
    height: auto;
}

/* .home-img img:hover {
    opacity: 0.8;
    transition: all 0.5s ease-out;
} */

.home-content h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.3;
    font-family: 'Permanent Marker', sans-serif;
}

.home-content h4 {
    font-size: 1.6rem;
    font-weight: 700;
}

/*hr {
    display: block;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    color: var(--text-color);
} */

.home-content p {
    font-size: 1.4rem;
    font-weight: 600;
}

.home-content p span {
    font-weight: 600;
}

/* .social-media {
    border: 1px solid red;
    display: flex;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
} */

.social-media {
    display: flex;
}

.social-media .button {
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-out;

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 3px solid var(--main-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s;
}
.social-media .button:hover {
    width: 200px;
    box-shadow: 0 0 1rem var(--main-color);
}

.social-media .button a {
    display: inline-flex;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.5s ease-out;
    color: var(--main-color);
}

.social-media .button:nth-child(1):hover a {
    background: #ff0000; /* #4267b2; */
    z-index: -1;
}
.social-media .button:nth-child(3):hover a {
    background: #0A66C2;  /* #1da1f2 */
    z-index: -1;
}
.social-media .button:nth-child(2):hover a {
    background: #e1306c;
    z-index: -1;
}
.social-media .button:nth-child(4):hover a {
    background: #E60023;
    z-index: -1;
}

.social-media .button a i {
    font-size: 2rem;
    line-height: 60px;
    transition: all 0.5s ease-out;
    padding: 0 0.8rem;
    display: flex;
}

.social-media .button:hover a i {
    color: var(--text-color);
}

/* Instagram and Pinterest logo resize */
.social-media a:nth-child(2) i {
    font-size: 2.5rem;
}
.social-media a:nth-child(4) i {
    font-size: 2.5rem;
}

.social-media .button span {
    font-size: 20px;
    font-weight: 600;
    line-height: 60px;
    margin-left: 12px;
    transition: all 0.5s ease-out;
}

.social-media .button:nth-child(1):hover span {
    color: #ff0000;
}
.social-media .button:nth-child(3):hover span {
    color: #0A66C2;
}
.social-media .button:nth-child(2):hover span {
    color: #e1306c;
}
.social-media .button:nth-child(4):hover span {
    color: #E60023;
} 

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: all 0.5s ease-out;
}

.btn:hover {
    box-shadow: none;
    background: transparent;
    color: var(--main-color);
    box-shadow:0px 0px 0px 3.5px var(--main-color) inset;
    transition: all 0.5s ease-out;
    transform: scale(1.05)translateZ(12px);
}

/* ----- About section ----- */
.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img {
    width: 90%;
    border-radius: 50%;
    border: 5px solid var(--text-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--text-color);
    border-right: 5px solid var(--text-color);
}

/* skills */
.about-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.skills-box .skills-content {
    width: 500px; 
    height: auto;
    position: relative;
    /* border: 0.2rem solid var(--main-color); */
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem 1rem 1.5rem;
}

.skills-content .progress {
    padding: 0.5rem 0;
}

.skills-content .progress h3 {
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.skills-content .progress .bar {
    height: 2rem;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--main-color);
    padding: 0.5rem; /* bar from the edge */
    margin: 0.5rem 0; /* bars from each other */
    box-shadow: 0 0 1rem var(--main-color);
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: 0.3rem;
    background: var(--main-color);
    /* box-shadow: 0 0 1rem var(--main-color); */
}

.skills-content .progress:nth-child(1) .bar span {
    width: 70%;
}
.skills-content .progress:nth-child(2) .bar span {
    width: 55%;
}
.skills-content .progress:nth-child(3) .bar span {
    width: 35%;
}
.skills-content .progress:nth-child(4) .bar span {
    width: 80%;
}

.about-center {
    display: flex;
    justify-content: center;
}

.about-content h1 {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-content {
    width: 100%;
    /* background-color: seagreen; */
    /* padding: 2rem 18rem; */
    margin: 2rem 18rem;
    /* border-radius: 5px; */
}

.about-content p {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4;
}

.about-content p span:nth-child(1) {
    font-size: 1.8rem;
}



#ch {
    display: none;
}

#ch:checked ~ .read-more-content {
    display: block;
}

#ch:checked ~ label {
    display: none;
}

.read-more-content {
    display: none;
}

.about-content label {
    font-size: 1.4rem;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
    color: var(--main-color);
    padding: 3px 13px;
    border: 3px solid var(--main-color);
    /* background-color: yellow; */
    border-radius: 25px;
    margin-top: 12px;
    box-shadow: 0 0 1rem var(--main-color);
}


/* ----- portfolio section ----- */
.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.portfolio-container .heading {
    width: 50%;
    padding-bottom: 50px;
}

.portfolio-container .heading h1 {
    font-size: 3em;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--main-color);
}

/* .portfolio-container .heading span {
    font-weight: 500;
} */

.portfolio-container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-container .box .column {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.portfolio-container .box .column img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}


/* ----- contact section ----- */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: auto; /* min-height */
    /* background: seagreen;  */
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-container .contact-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.title h2 {
    margin: auto;
    font-weight: 700;
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 5px;
}
.title hr {
    margin: auto;
    border: none;
    width: 300px;
    height: 6px;
    background-color: var(--main-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-input {
    font-size: 1rem;
    font-weight: 500;
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 0 1rem var(--main-color);
    border: 3px solid var(--main-color);
    background: transparent;
    color: var(--text-color);
}

.contact-input::placeholder {
    color: var(--text-color);
    opacity: 1;
}

.contact-container textarea {
    font-size: 1rem;
    font-weight: 500;
    height: 140px;
    padding: 10px 20px;
    border-radius: 20px;
}

.contact-input:focus {
    border: 3px solid var(--main-color);
    background-color: var(--text-color);
    color: var(--second-bg-color);
}

.contact-input:focus::placeholder {
    color: var(--main-color);
}

.contact-container button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: var(--main-color);
    gap: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 1rem var(--main-color);
    color: var(--second-bg-color);
    transition: all 0.5s ease-out;
    background-color: var(--main-color);
    margin: auto;
    color: var(--second-bg-color);
    transition: all 0.5s ease-out;
    font-weight: 600;
}

.contact-container button:hover {
    box-shadow: none;
    background: transparent;
    color: var(--main-color);
    box-shadow:0px 0px 0px 3.5px var(--main-color) inset;
    transition: all 0.5s ease-out;
    transform: scale(1.05)translateZ(12px);
}


/* ----- footer section ----- */
.footer {
    position: fixed;
    bottom: 0;
    /* right: 0; */
    left: 0;
    width: 100%; 
    padding: 1rem 3%; /* change navbar height */

    z-index: 100;

    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* background: var(--second-color); */
}
.footer-text p {
    /* font-size: 1.2rem; */
    font-weight: 600;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.225rem;
    background: transparent;
    border: 3px solid var(--main-color);
    border-radius: 0.6rem;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    color: var(--main-color);
}
.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg);
    z-index: -1;
}
.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.25rem;
    color: var(--second-color);
    transition: 0.5s;
}
.footer-iconTop a:hover i {
    color: var(--bg);
}




























/* Portfolio */
/*.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    min-height: 90vh;
} 

.category {
    padding-top: 5vh;
    
    display: flex;
    gap: 7.5rem;

    justify-content: center;  
    align-items: center; 
}

.line h1 {
    display: flex;
    font-size: 2.5rem;
    font-family: 'Permanent Marker', sans-serif;
    justify-content: center;
}

.line hr {
    padding: 0 36rem;
    border: 4px solid #fff;
    border-radius: 50px;
}

.c-icon img {
    scale: 0.9;

    border: 7.5px solid #0000;
    border-radius: 45px;
    background:
    linear-gradient(red,blue) padding-box,
    linear-gradient(#fff, #fff) border-box;
    transition: transform 0.4s ease-in-out;
}

.c-icon h3 {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    transition: transform 0.4s ease-in-out;
}
.c-icon:hover img {
    border: 7.5px solid #0000;
    border-radius:45px;
    background: 
    linear-gradient(red,blue) padding-box,
    linear-gradient(45deg, #04d9ff, #fff) border-box;
    transform: scale(1.05);
}
.c-icon:hover h3 {
    background: linear-gradient(45deg, #04d9ff, #fff);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    background-clip: 0;
    transition: 0.4s;
    transform: scale(1.1) translateY(7.5px);
} */





.portrait img {
    max-width: 100%;
    width: 600px;
    height: 600px;
}






@media only screen and (max-width: 769px){
    .portfolio-container .box {
        flex-direction: column;
    }
    .portfolio-container .box .column {
        width: 100%;
    }
    
}

@media only screen and (max-width: 643px){
    .portfolio-container .heading {
        width: 100%;
    }
    .portfolio-container .heading h1 {
        font-size: 1em;
    }
}



@media (max-width: 800px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 1rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    .logo img {
        width: 200px;
        height: auto;
    }
    .checkbtn {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        background: var(--bg-color);
        text-align: center;
        display: flex;
        line-height: 1.4;
    }

    .navbar a {
        font-size: 1.6rem;
    }
    
    #check:checked ~ .navbar {
        left: 0;
    }

    .skills-box .skills-content {
        width: 300px;
        height: auto;
    }

    .about-content p {
        font-size: 1.3rem;
        width: 275px;   
    }

    .portfolio-container .heading h1 {
        font-size: 2rem;
    }

    .contact-container .contact-input {
        width: 300px;
        font-size: 1.4rem;
    }
    
    .footer {
        font-size: 1.4rem;
    }

    .home {
        margin-top: 2rem;
    }
}

